.expense-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 50px 0px;
  background-color: #f9f9f9;
}

.list-title {
  margin: 0;
  margin-bottom: 20px;
}

.filter-list {
  padding: 5px;
  width: 300px;
}
.filter-list label {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}
.filter-list select {
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
}
.filter-list select:focus {
  border: 2px solid #1670be;
  outline: none;
  outline-offset: 0px;
}


.expense-item-list{
  padding:0;
  width: 90%;
}
.list-item{
  list-style: none;
}
.list-item-contents{
  display: grid;
  grid-template-columns: 2fr 0.8fr 1fr 1.2fr 40px 40px;
  gap:4px;
  grid-template-rows:40px auto;
}
.list-item-contents span{
  display:flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}
.list-item-contents button{
  padding:1px 3px;
  box-sizing: border-box;
}

.list-item-contents input{
  width:100%;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
.list-item-contents input:focus{
  border: 2px solid blue;
  outline:none;
  
}